<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
</head>
<body>
    <h1>Hello {{ session['user']['name'] }}</h1>
    <a href="/logout">Logout</a>
    <form action='/create_message' method='POST'>
        <h3>Post a message</h3>
        <textarea name='new_message'></textarea>
        <button>Post a message</button>
    </form>
    <hr>
    <div id=messages>
    {% for message in messages %}
        <div class='message'>
            <p>message id: {{ message['id'] }}</p>
            <p>{{ message['name'] }} : {{ message['created_at'] }}</p>
            <p>{{ message['content'] }}</p>
        </div>
        <div class='posts'>
            {% for comment in comments: %}
                {% if comment.message_id == message.id: %}
                    <div class='post'>
                        <p>{{ comment['name'] }}: {{ comment['created_at'] }}</p>
                        <p>{{ comment['content'] }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <form action='/create_comment' method='POST'>
            <h3>Post a comment</h3>
            <input type='hidden' name='message_id' value="{{message['id']}}"></input>
            <textarea name='new_comment'></textarea>
            <button>Post a comment</button>
        </form>
        <hr>
    {% endfor %}
    </div>
</body>
</html>