<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Login</h1>
    <form action='/login' method='POST'>
        <input type='hidden' name='user' value=1></input>
        <button>User one</button>
    </form>
    <form action='/login' method='POST'>
        <input type='hidden' name='user' value=2></input>
        <button>User two</button>
    </form>
    <form action='/login' method='POST'>
        <input type='hidden' name='user' value=3></input>
        <button>User three</button>
    </form>
    <form action='/login' method='POST'>
        <input type='hidden' name='user' value=4></input>
        <button>User four</button>
    </form>
    <form action='/login' method='POST'>
        <input type='hidden' name='user' value=5></input>
        <button>User five</button>
    </form>
</body>
</html>